NODE_ENV=development
PORT=3000
HOST=localhost

BASE_API_URL=http://localhost:3000/v1
CLIENT_URL=http://localhost:3000
REDIS_URL=redis://localhost:6379
DB_URL=mongodb://localhost/employee-managemend-system-db

SALT_ROUNDS=10
JWT_KEY=

ADMIN_EMAIL=
ADMIN_PWD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=