<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" lang="en">
  <head>
    <title>Verify your account</title>
  </head>

  <body>
    <div>
      <h1>Verify your account</h1>
      <h2>Test from ejs</h2>
      <p>Click the link below to verify your account:</p>
      <a href="<%= `${url}/activate?token=${token}` %>">Verify account</a>
    </div>
  </body>
</html>
